.card {
    background-color: black;
    color: white;
    margin: 1em;
    padding: 1em;
    width: 10em;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 0.5em;
}
* {
    margin: 0;
}
a{
    all: unset;
    cursor: pointer;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}   